.mainContent {
    width: 90%;
    margin: auto;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    top: -38rem;
}

.dashboardContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}