.sideModal {
    background-color: grey;
    margin: .7rem;
    width: 30vh;
    height: fit-content;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    right: 2rem;
    top: 2rem;
    z-index: 101;
    position: fixed;
}

.sideModal h2 {
    margin: 1rem auto;
}

