.progressIcon {
    list-style-type: none;
    width: 50%;
    text-align: center;
    position: relative;
    left: -20px;
}

.progressIcon::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: lightgray;
    animation: progressColorEmpty 2s;
    position: absolute;
    left: 0;
    top: 17px;
    z-index: -1
}

.progressIcon span {
  background-color: lightgrey;
  animation: progressColorEmpty 2s forwards;
  color: #ffffff;
  border-radius: 50%;
  padding: 1.5rem;
  position: relative;
  font-size: 1.5rem; 
}


.progressIcon.active::after,
.progressIcon.active span{
  animation: progressColorFill 2s forwards;
}

@keyframes progressColorFill {
    0% { background-color: lightgrey; width: 0%;}
    50% { background-color: rgb(102, 248, 248); width: 50%;}
    100% { background-color: aqua; width: 100%;}
}

@keyframes progressColorEmpty {
    0% { background-color: aqua; width: 100%;}
    50% { background-color: rgb(102, 248, 248); width: 50%;}
    100% { background-color: lightgrey; width: 100%;}
}