.navbar {
  width: 35vh;
  height: fit-content;
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.8rem;
}

.navbar li a:hover {
  color: aqua;
}
