.btn {
  border-radius: 2em;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
}
.btn:disabled,
.btn:disabled:hover {
  background-color: lightslategray;
  cursor: not-allowed;
}

.submitBtn {
  color: #ffffff;
  background-color: #4eb5f1;
}
.submitBtn:hover {
  background-color: #4095c6;
}

.exitBtn {
  color: black;
  border: solid red 2px;
  background-color: rgba(255, 255, 255, 0);
}

.exitBtn:hover {
  background-color: red;
}

.linkBtn {
  color: white;
  background-color: #2d3663b4;
}

.linkBtn:hover {
  background-color: #6677ccb4;
}
