.detailsHead {
    background-color: rgb(226, 226, 226);
    width: 100%;
    height: fit-content;
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 10;
}

.detailsInfo {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    height: fit-content;
}
.detailsBtns {
    display: flex;
    margin-right: 1rem;
}

.notiNum {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    font-weight: bold;
    bottom: -12px;
    right: 5px;
    border: solid black 2px;
    border-radius: 2rem;
    background-color: aqua;
    user-select: none;
}