.mainHeading {
  text-align: center;
}

.mainHeading h1 {
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.5);
}

.mainHeading h1 span {
  color: rgb(59, 183, 170);
}

.mainHeading p {
  font-size: 1.3rem;
  font-style: italic;
  color: rgba(0, 255, 255, 0.5);
}
