.detailsInfo {
    display: flex;
    width: fit-content;
    align-items: center;
    height: fit-content;
    font-size: 1rem;
    margin: auto;
}

.detailsInfo * {
    margin: auto .5rem;
}

.clickIcon {
    cursor: pointer;
}